/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification > .error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.success {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.success > h1 {
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.success > .button {
  text-decoration: none;
  color: white;
  background-color: rgb(29, 128, 210);
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
}
